.paginationBtns {
  margin: 0 auto;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid grey;
  color: grey;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: white;
  background-color: grey;
}

.paginationActive a {
  color: white;
  background-color: grey;
}
